.appMenuItem {
  width: 100%;
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
}

.appMenuItem-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appMenuItem-sub {
  width: 100%;
  margin-top: 0.2rem;
}

.appMenuItem-name {
  flex: 1;
}

.appMenuItem-dash {
  width: 90px;
  height: 1px;
  background: var(--color-golden);
  margin: 0 1rem;
}

.appMenuItem-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
