.appNewsletter {
  padding: 2rem 4rem;
  border: 1px solid var(--color-azure);
}

.appNewsletter-heading {
  text-align: center;
}

.appNewsletter-input {
  flex-direction: row;
  margin-top: 3rem;
}

.appNewsletter-input input {
  width: 620px;
  border: 1px solid var(--color-azure);
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-base);
  font-weight: 900;
  color: black !important;;

  margin-right: 2rem;
  padding: 0.75rem 1rem;
}

.appNewsletter-input button {
  width: max-content;
}

@media screen and (min-width: 2000px) {
  .appNewsletter-input input {
    font-size: 2rem;
  }
}

@media screen and (max-width: 990px) {
  .appNewsletter-input {
    flex-direction: column;
    width: 100%;
  }

  .appNewsletter-input input {
    margin: 0 0 2rem 0;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .appNewsletter {
    padding: 2rem 0;
    border: none;
  }
}

@media screen and (max-width: 300px) {
  .appNewsletter-heading h1 {
    font-size: 32px;
    line-height: 50px;
  }
}
